<div class="search-emp--box">
    <form action="/search" method="post">
        <input type="text" name="search" id="search" placeholder="Search Employee">
        <button type="submit">Search</button>
    </form>

</div>